* {
	font-family: Arial;
}

/*table {
	border-collapse: collapse;
	width: 100%;
}

th {		   
	padding: 10px;
	font-family: Arial;
}

td {
	padding: 10px 40px;
	font-family: Arial;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #FFFFFF;
	color: #000000;
}

.button {
	background-color: #4CAF50; 
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {background-color: blue;}
.button2 {background-color: orange;}
.button3 {background-color: red;}
.button4 {background-color: #4CAF50;}
			
.button1:hover {background-color: #1974D2;}
.button2:hover {background-color: #FF7F49;}
.button3:hover {background-color: #FF496C;}
.button4:hover {background-color: #30BA8F;}

#header{
	background: none;
	padding: 3px 3px 3px 8px;
	margin:0px auto;
	font-family: Verdana, Geneva, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #005555;*/
	/*background-color: #f39c12;*/
	/*background-color: #CCCCCC;
	font-family: Verdana, Geneva, sans-serif;	
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #C1C1C1;
	/*background-color: #5FD367;*/
/*}

table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}*/

* {
	font-family: Arial;
}

/*table {
	border-collapse: collapse;
	width: 100%;
}

th {		   
	padding: 10px;
	font-family: Arial;
}

td {
	padding: 10px 40px;
	font-family: Arial;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #FFFFFF;
	color: #000000;
}*/

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 6px 2px;
	cursor: pointer;
}

.buttonlogout {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 1px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}

.buttonlogout {background-color: #4b4c4c;}
.buttonlogout:hover {background-color: #30BA8F;}

.button1 {
	background-color: #3c8dbc;
	border-radius: 6px;
}
.button2 {
	background-color: #00a65a;
	border-radius: 6px;
}
.button3 {
	background-color: #f39c12;
	border-radius: 6px;
}
.button4 {background-color: #4b4c4c;}
			
.button1:hover {background-color: #1974D2;}
.button2:hover {background-color: #04b564;}
.button3:hover {background-color: #fa9900;}
.button4:hover {background-color: #30BA8F;}

#header{
	background: none;
	padding: 3px 3px 3px 8px;
	margin:0px auto;
	font-family: Verdana, Geneva, sans-serif;
}

#headertop{
	background: none;
	padding: 3px 3px 3px 8px;
	margin:0px auto;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #4b4c4c;
	text-align: right;

}#headerright{
	background: none;
	padding: 3px 3px 3px 8px;
	margin:0px auto;
	font-family: Verdana, Geneva, sans-serif;
	text-align: right;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #005555;*/
	/*background-color: #f39c12;*/
	background-color: #78a6fa;	
	font-family: Verdana, Geneva, sans-serif;	
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {

	/*background-color: #5FD367;*/
	/*background-color: #FF7F49;*/
	background-color: #acc9ef;
}

table, td, th {    
    border: 0px solid pink;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 12px;
}

 border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

h1,h2,h3 {
	color: #3f3f40;
}

menu {		    
	border-radius: 6px;
}