RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^page/(.*)/(.*)/(.*)/$ index.php?page=$1&act=$2&id=$3 [L]
RewriteRule ^page/(.*)/(.*)/$ index.php?page=$1&act=$2 [L]
RewriteRule ^page/(.*)/$ index.php?page=$1 [L]

ErrorDocument 404 /404.php