<<<<<<< HEAD
=======

>>>>>>> 8fcb0ec572a8b227aff2ef73b468b299aeb5c92e
table {
	border: 1px #CCCCCC;
}

td {
	padding: 5px 10px 3px 7px;
}

.abu {
	background: #CCCCCC;
}

input[type=submit] {
	padding: 5px;
	border: none;
	background: green;
	border-radius: 5px;
	color: white;
}