table {
border-collapse: collapse;
width: 50%;
}

td, tr{

	text-align: center;
	padding: 8px;
	font-style: normal;
}

tr:nth-child(even){
	background-color: #f4f4f4 
}

th{
	background-color: #A9A9A9;
	color: #255255;
}

h3{
	font-family: "Arial";
	font-style : normal;
}