

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}

.buttoncrud {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	

}
.buttondashboard {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 6px 4px;
	cursor: pointer;
}

.buttonadd {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 15px 15px;
	cursor: pointer;
}

.buttonview {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 0px 0px;
	cursor: pointer;
}
.buttonsearch {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 6px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 2px;
	cursor: pointer;
}
.buttonsrc {
	background-color: #f39c12;
	border-radius: 4px;}

.buttonlogout {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 1px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}

.buttonlogout {background-color: #4b4c4c;}
.buttonlogout:hover {background-color: #30BA8F;}

.buttondashboard {
	background-color: #3c8dbc;
}
.buttonadd {
	background-color: #8b7bff;
	border-radius: 3px;
}
.buttonview {
	background-color: #5bc0de;
	border-radius: 3px;
}
.button1 {
	background-color: #3c8dbc;
	border-radius: 6px;
}
.button2 {
	background-color: #00a65a;
	border-radius: 6px;
}
.button3 {
	background-color: #f39c12;
	border-radius: 6px;}
.button4 {background-color: #4b4c4c;}
			
.button1:hover {background-color: #1974D2;}
.button2:hover {background-color: #04b564;}
.button3:hover {background-color: #fa9900;}
.button4:hover {background-color: #30BA8F;}


.buttonviewcrud {
	background-color: transparent;
	border-radius: 3px;
}
.button1crud {
	background-color: transparent;
	border-radius: 6px;
	color: #1974D2
}
.button2crud {
	background-color: transparent;
	border-radius: 6px;
	color: #04b564;
}
.button3crud {
	background-color: transparent;
	border-radius: 6px;
	color: #fa9900
}

input[type=text] {
	width: 350px;
	padding: 12px 20px;
	margin: 8px 8px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=file] {
	width: 500px;
	padding: 12px 20px;
	margin: 8px 8px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

select {
	width: 350px;
	height: 50px;
	padding: 12px 20px;
	margin: 8px 8px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#right {
	text-align: right;
}

.foto {
	width: 65px;
	height: 90px;
}

.cover {
	width: 220px;
	height: 270px;
}