input {
	margin-top: 10px;
	display: block;
	height: 35px;
	width: 300px;
	margin-top: 2px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 0px;
    padding: 5px;
    border-radius: 5px;
}

input[type=submit] {
	margin-top: 10px;
	border: none;
	background: rgb(0, 196, 146);
	border-radius: 5px;
	color: white;
}